/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #post-text, #bio{
    font-size: 26px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #post-text, #bio{
    font-size: 24px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #post-text, #bio{
    font-size: 22px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #post-text, #bio{
    font-size: 18px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #post-text, #bio{
    font-size: 18px;
  }
}

html, body{
  height: 100%;
  min-height: 100%; 
}

.center {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 80%;
  }

  .center-list {
    justify-content: center;
    display: flex;
  }

  #background {
    background-image: url(../images/animated-bg.png);
    background-size: 50vh auto;
	  background-position: 0px 0px;
	  background-repeat: repeat;
    animation: bg-animated 30s linear infinite;
  }
    

  @keyframes bg-animated {
	  from { background-position: 0 0; }
	  to { background-position: 0 100vh; }
  }

  #avatar img {
    display: block;
    position: relative;
    border-radius: 10px; 
    margin-top: 25px;
    margin-right: auto;
    margin-bottom: 25px;
    margin-left: auto;
    border: 2px white solid;
  }

  #bio{
    margin-bottom: 25px; 
  }

  #post{
    position: relative;
    margin-top: 25px; 
    justify-content: center;
  }

  #post-text{
    text-align: left;
  }

  #title{
    margin-bottom: 25px;
  }

  .row{
    max-height: 97%
  }


  


 